body {
    width: 1400px;
    height: 1010px;
}
nav {
    width: 1020px;
    height: 60px;
    background-color: black;
}
header:not(#social) {
    width: 1020px;
    background-color: #090401;
}
#titre {
    width: 1020px;
    height: 320px;
    color: #cfa205;
}
#social {
    width: 1020px;
    height: 60px;
    background-color: #e8e8e8;
}
main > p {
    width: 900px;
    height: 90px;

}
article{
    display: inline-block;
    width: 260px;
    height: 480px;
}
article img {
    display: inline-block;
    width: 260px;
    height: 195px;
}
p {
    color: #7a7a7a;
}
